@model Theloai
<div class="container">
    <h3>Thêm thể loại</h3>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post" asp-action="DeleteConfirm">
        <input type="hidden" asp-for="Id"/>
        <<div class="form-group">
            <label asp-for="Name">Tên ID</label>
            <input asp-for="Name" type="text" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div
        <div class="form-group">
            <label asp-for="Name">Tên Class</label>
            <input asp-for="Name" type="text" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateCreated">Ngày Nhap Hoc</label>
            <input asp-for="DateCreated" type="date" class="form-control" />
            <span asp-validation-for="DateCreated" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateCreated">Ngày ra truong</label>
            <input asp-for="DateCreated" type="date" class="form-control" />
            <span asp-validation-for="DateCreated" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="name">So luong sv</label>
            <input asp-for="Name" type="number" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}